<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 		<h1><i class="fa fa-list-alt"></i></h1>
	  		 		<p>Get Notified When LinkedIn Users</p>
	  		 		<p>Add A New Job To Their Profile</p>
	  		 		<a href="/users/auth/linkedin"><button type="button" class="btn btn-default btn-lg mainbtn"><i class="fa fa-linkedin"></i> Sign in with LinkedIn</button></a>
	  		</header>	    
	    </div><!-- /headerwrap -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap" class="bluewrap">
			<div class="row">
				<div class="col-lg-4 callout">
					<i class="fa fa-usd fa-4x"></i>
					<h2>FREE</h2>
					<p>There is no cost to use LinkedPanel but we plan to charge for some features in the future.</p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<i class="fa fa-check-square-o fa-4x"></i>
					<h2>Simple</h2>
					<p>Just sign in with your LinkedIn account and start adding the people you want to follow. </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<i class="fa fa-envelope-o fa-4x"></i>
					<h2>Reliable</h2>
					<p>Sit back and relax. LinkedPanel will email you when a user has changed his or her LinkedIn headline. </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		<div class="row below">
		  <div class="col-lg-5 col-lg-offset-1 why">
		      <h3>Why was this made?</h3>
		      <p>As of now, LinkedIn has no simple way for users to follow other user updates. When users update their profiles, they can choose whether or not to share with their network. If the don't share, you won't know they updated their profile. If they do share, it gets posted to a feed and you most likely won't get an email. LinkedPanel wants to give you the power so you can choose to be updated.</p>
		  </div>
		
		  <div class="col-lg-5 why">
		      <h3>Who needs this?</h3>
		      <p>Whether you are a journalist who wants to know the minute someone influential gets a new job or you are just a regular LinkedIn user interested in keeping up with LinkedIn connection changes, LinkedPanel is the tool for you.</p>
		  </div>
	    </div>