<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 		<h1><i class="fa fa-list-alt"></i></h1>
	  		 		<p>Get Notified When LinkedIn Users And</p>
	  		 		<p>Connections Change Jobs</p>
	  		 		<a href="/users/auth/linkedin"><button type="button" class="btn btn-default btn-lg mainbtn"><i class="fa fa-linkedin"></i> Sign in with LinkedIn</button></a>
	  		</header>	    
	    </div><!-- /headerwrap -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap" class="bluewrap">
			<div class="row">
				<div class="col-lg-4 callout">
					<i class="fa fa-usd fa-4x"></i>
					<h2>FREE</h2>
					<p>There is no cost to use LinkedPanel. In the future, we might add paid features or add-ons.</p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<i class="fa fa-check-square-o fa-4x"></i>
					<h2>Simple</h2>
					<p>Just sign in with your LinkedIn account and start adding the people you want to follow. </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<i class="fa fa-envelope-o fa-4x"></i>
					<h2>Reliable</h2>
					<p>Sit back and relax. LinkedPanel will email you when a user has updated his or her job on LinkedIn. </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		<div class="row below">
		  <div class="col-lg-5 col-lg-offset-1 why">
		      <h3>Why was this made?</h3>
		      <p class="why-made">As of now, LinkedIn has no simple way for users to follow other user updates. When users update their profiles, they can choose whether or not to share with their network. If the don't share, you won't know they updated their profile. If they do share, it gets posted to a feed and you most likely won't get an email. LinkedPanel wants to give you the power so you can choose to be updated.</p>
		  </div>
		
		  <div class="col-lg-5">
		      <h3 class="why">Who needs this?</h3>
		      <ul class="why-made">
		      <li>Journalist who wants to know when someone influential gets a job</li>
		      <li>An executive who wants to know when a competitor gets acquired/shuts down</li>
		      <li>A hiring manager who wants to track a potential candidate</li>
		      <li>A regular LinkedIn user who wants to keep up with his or her LinkedIn connections</li>
		      </ul>
		  </div>
	    </div>